<header id="content-header">
  <h1>Sign In</h1>
</header>

<%= form_tag(session_path) do %>
  <fieldset>
    <ol>
      <li class="required">
        <%= label_tag :email %>
        <%= email_field_tag :email, nil, autofocus: true, size: 40 %>
      </li>
      <li class="required">
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, size: 40 %>
      </li>
    </ol>
    <p>
      <%= submit_tag 'Sign In' %>
    </p>
  </fieldset>
<% end %>
