<article class="movie">
  <header>
    <%= image_for(@movie) %>
    <h1><%= @movie.title %></h1>
    <h2>Released: <%= @movie.released_on %></h2>
  </header>

  <p>
    <%= @movie.description %>
  </p>
  
  <h3 class="no-rule">
    <%= @movie.rating %> &bull; <%= @movie.duration %> 
  </h3>
  
  <h3>Cast</h3>
  <p>
    <%= @movie.cast %>
  </p>
  
  <h3>Director</h3>
  <p>
    <%= @movie.director %>
  </p>
  
  <h3>Total Gross</h3>
  <p>
    <%= format_total_gross(@movie) %>
  </p>

	<h3>Average Review</h3>
	<p>
		<%= format_average_stars(@movie) %>
	</p>

	<h3>Genres</h3>
	<ul>
		<% @genres.each do |genre| %>
			<li><%= genre.name %></li>
		<% end %>
	</ul>
	
	<h3>Fans</h3>
	<p>
		<%= pluralize(@fans.size, 'fan') %> 
	</p>
	<% if @fans.any? %>
		<h3>Fans</h3>
		<ul>
			<% @fans.each do |user| %>
				<li>
					<%= link_to user.name, user %>
				</li>
			<% end %>
		</ul>
	<% end %>

	<% if @current_favorite %>
    <%= button_to "Unfave", movie_favourite_path(@movie, @current_favorite), method: :delete, class: "button unfave" %>
  <% else %>  
    <%= button_to "Fave", movie_favourites_path(@movie), class: "button fave" %>
  <% end %>

	<% if @movie.recent_reviews.any? %>
		<h3>Recent Reviews</h3>
		<ol class="reviews">
			<% @movie.recent_reviews.each do |review| %>
				<li>
					<span class="review"><%= pluralize(review.stars, 'star') %></span>
					<span class="user">by <%= review.name %></span>
					<span class="date"><%= time_ago_in_words(review.created_at) %> ago</span>
					<p>
						&quot;<%= review.comment %>&quot;
					</p>
			</li>
			<% end %>
		</ol>
		<p>
			Read all <%= link_to pluralize(@movie.reviews.size, "review"), 
											movie_reviews_path(@movie) %>
		</p>
	<% end %>

  <footer>
	<%= link_to "Write Review", new_movie_review_path(@movie),
             class: 'button ok review' %>
    <nav>
      <%= link_to 'Edit', edit_movie_path(@movie), class: 'button' %>
      <%= link_to 'Delete', @movie, 
                  class: 'button',
                  method: :delete, data: { confirm: 'Are you sure?' } %>
    </nav>
		
  </footer>
</article>
