<!DOCTYPE html>
<html>
  <head>
    <%= page_title %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<%= render "layouts/header" %>

    <div class="wrapper">
			<%= render 'layouts/flashes' %>
      <div class="container">
        <section class="sidebar">
          <%= render "layouts/sidebar" %>
        </section>
        <section class="content">
          <%= yield %>
        </section>
      </div>
    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
